:root {
  --color-blue: #049EF4;
  --text-color: #444;
  --border-style: 1px solid #E8E8E8;
  --panel-width: 350px;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  font-weight: 700;
}
span {
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: #99A;
}
a:hover {
  color: var(--color-blue);
}
.sidebar {
  position: fixed;
  left: 0px;
  width: var(--panel-width);
  border-right: var(--border-style);
  height: 100%;
  z-index: 100;
}
.content {
  padding: 20px;
}
.sidebar span {
  display: block;
  margin-bottom: 10px;
}
#viewer {
  padding-left: var(--panel-width);
}
#viewer, iframe {
  position: absolute;
  border: 0px;
  left: 0;
  right: 0;
  width: calc(100% - var(--panel-width));
  height: 100%;
  overflow: auto;
}
span a {
  display: inline;
}

span a:first-child {
  font-weight: 600;
}